<!DOCTYPE html>
<html lang="{{ site.Language.Locale | default "en" }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ site.Title }}{{ with site.Params.subtitle }} — {{ . }}{{ end }}{{ else }}{{ with partial "title.html" . }}{{ . }} · {{ end }}{{ site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="{{ if .IsHome }}is-home {{ end }}kind-{{ .Kind }} type-{{ .Type }}">
  <a class="skip-link" href="#content">Skip to content</a>
  {{ partial "sites-header.html" . }}
  {{ partial "header.html" . }}

  <main id="content" class="content">
    {{ block "main" . }}{{ end }}
  </main>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}

  {{ range site.Params.plugins_js }}
  <script src="{{ . }}"></script>
  {{ end }}
  {{ partial "extended_footer.html" . }}
  {{ partial "custom_footer.html" . }}
  {{ partial "microhook.html" (dict "name" "before-closing-body" "page" .) }}
</body>
</html>
