{{/*
  Another Thing signup widget.
  Configure with Site.Params.anotherThingFormUrl.
  Optional overrides:
    anotherThingTitle, anotherThingBlurb, anotherThingCta, anotherThingEmailField
*/}}
<section class="signup signup--another-thing" aria-labelledby="another-thing-heading">
  <h3 id="another-thing-heading" class="signup__title">{{ $.Site.Params.anotherThingTitle | default "Another Thing" }}</h3>
  <p class="signup__blurb">{{ $.Site.Params.anotherThingBlurb | default "Occasional longer-form posts." }}</p>
  <form class="signup__form" action="{{ $.Site.Params.anotherThingFormUrl }}" method="post" target="_blank">
    <label class="signup__label" for="another-thing-email">Email</label>
    <input class="signup__input"
           id="another-thing-email"
           type="email"
           required
           name="{{ $.Site.Params.anotherThingEmailField | default "email" }}"
           placeholder="you@example.com"
           autocomplete="email">
    <button class="signup__button" type="submit">{{ $.Site.Params.anotherThingCta | default "Subscribe" }}</button>
  </form>
</section>
