<header class="site-header">
  <div class="site-header__inner">
    <div class="site-header__brand">
      {{ partial "h-card.html" . }}
      {{ with site.Params.subtitle }}<span class="site-header__subtitle">{{ . }}</span>{{ end }}
    </div>

    {{ partial "microhook.html" (dict "name" "navigation" "page" .) }}
    <nav class="site-nav" aria-label="Primary">
      <ul class="site-nav__list">
        {{- range site.Menus.main }}
        {{- $href := .URL -}}
        {{- with .Page }}{{ with .Params.redirect_url }}{{ $href = . }}{{ end }}{{ end }}
        <li class="site-nav__item"><a href="{{ $href }}">{{ .Name }}</a></li>
        {{- end }}
        {{- if site.Params.pagefindEnabled }}
        <li class="site-nav__item site-nav__item--search"><a href="{{ site.Params.search_path | default "/search/" | relURL }}">Search</a></li>
        {{- end }}
      </ul>
    </nav>
  </div>
</header>
