<article class="post-card h-entry{{ if not .Title }} post-card--titleless{{ end }}">
  {{ if .Title }}
    <header class="post-card__header">
      <h2 class="post-card__title p-name"><a href="{{ .Permalink }}" class="u-url">{{ .Title | markdownify }}</a></h2>
      {{ partial "post-meta.html" . }}
    </header>
  {{ else }}
    {{ partial "post-meta.html" . }}
  {{ end }}

  <div class="post-card__content e-content">
    {{ .Content }}
  </div>

  {{ with .Params.tags }}
    <div class="post-card__tags">
      {{ range . }}<a class="tag" href="{{ (urlize (printf "tags/%s" .)) | absURL }}/">#{{ . }}</a>{{ end }}
    </div>
  {{ end }}
</article>
